# Dependencies
node_modules/

# Build outputs
dist/
dist-electron/
release/win-unpacked/

# Logs
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db

# Editor
.vscode/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Env
.env
.env.local
